* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "sodo sans semibold";
  src: url(./font/SoDo-Sans-SemiBold.ttf);
}

.cupom {
  display: flex;
  font-family: "sodo sans semibold";
  font-size: 12px;
  font-weight: 100;
  background-color: #1e3932;
  color: white;
  text-align: center;
  justify-content: center;
  padding: 15px;
  text-transform: uppercase;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 50px 20px 50px 20px;
  width: 100%;
}

.header .header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 600px;
  max-width: 100%;
}

.header .header-center {
  display: flex;
  justify-content: center;
  width: 100px;
  max-width: 100%;
}
.header-center > img {
  height: 60px;
}

.header .header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 600px;
  max-width: 100%;
}

.header h1 {
  font-family: "sodo sans semibold";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: rgb(36, 34, 34);
  margin: 15px;
}

.footer {
  display: flex;
  font-family: "sodo sans semibold";
  background-color: #1e3932;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  width: 100%;
}

.footer .logo {
  width: 300px;
  max-width: 100%;
  justify-content: center;
  display: flex;
}

.footer .logo img {
  width: 200px;
}

.menufooter {
  font-size: 15px;
  font-weight: 100;
  width: 100%;
  color: white;
  text-align: center;
  padding: 52px;
}

.menufooter p {
  margin-top: 15px;
  text-align: center;
}

.coffe {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding: 50px;
}

.coffe h1 {
  font-family: "sodo sans semibold";
  color: #1e3932;
  font-size: 25px;
  text-align: center;
  width: 100%;
}

.coffe-img {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 40px;
}

.coffe-img-center {
  width: 35%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.coffe-img-center img {
  width: 300px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.coffe-img-left img:hover,
.coffe-img-center img:hover,
.coffe-img-right img:hover {
  transform: scale(1.2);
  transition: 0.5s all ease;
}

.coffe-img-left {
  width: 35%;
  align-items: flex-end;
  justify-content: right;
  display: flex;
}

.coffe-img-left img {
  width: 400px;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.coffe-img-right {
  width: 35%;
  align-items: flex-end;
  justify-content: left;
  display: flex;
}

.coffe-img-right img {
  width: 400px;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  cursor: pointer;
}

#button {
  display: flex;
  padding: 50px 20px;
  justify-content: center;
}

.btnvermais {
  width: 200px;
  justify-content: center;
  display: flex;
}

.btnvermais button {
  font-family: "sodo sans semibold";
  width: 250px;
  height: 40px;
  font-size: 18px;
  color: white;
  background-color: #1e3932;
  border-radius: 25px;
  border-color: transparent;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.btnvermais button:hover {
  background-color: #bf7e27;
  transition: 500ms linear;
  transform: scale(1.1);
  transition: all 0.5s;
}

.descubratext {
  background-color: #1e3932;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 200px;
  padding: 20px 10px;
  gap: 8px;
}

.descubra .titulo1,
.titulo2 {
  width: 100%;
  text-align: center;
  color: white;
  font-family: "sodo sans semibold";
}

.titulo1 {
  font-size: 16px;
}

.titulo2 {
  font-size: 11px;
}

.ultima {
  justify-content: center;
  display: flex;
}

/*  CELULAR M */

@media (max-width: 414px) {
  .cupom {
    width: 414px;
    font-size: 8px;

  }
  .header {
    width: 414px;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    justify-items: center;
  }

  .header h1 {
    font-size: 15px;
  }

  .header-right,
  .header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .coffe {
    padding: 20px 10px;
  }

  .coffe h1 {
    font-size: 18px;
  }

  .btnvermais button {
    font-size: 15px;
  }

  .coffe-img {
    width: 414px;
    height: 200px;
    padding: 10px 10px;
  }

  .coffe-img-center {
    width: 150px;
    height: 200px;
  }

  .coffe-img-center img {
    width: 110px;
  }

  .coffe-img-left,
  .coffe-img-right {
    width: 150px;
  }

  .coffe-img-left img,
  .coffe-img-right img {
    width: 140px;
  }


  .descubra {
    width: 414px;
    padding: 5px;
  }

  .descubra h1,
  h2 {
    font-size: 15px;
  }

  .ultima-img img {
    width: 414px;
  }

  .footer {
    width: 414px;
  }
}
